@model DOANTKWEB.Models.Product
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa sản phẩm</h2>

<p>Bạn có chắc muốn xóa sản phẩm:</p>

<h4>@Model.ProductName</h4>

@using (Html.BeginForm("Delete", "Product", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ProductID)
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Hủy</a>
}